*{
    margin: 0;
    padding: 0;
}
#newsarticle{
    margin: 40px;
    height: 600px;
    width: 350px;
}
.image img{
    height: 300px;
    width: 350px;
}
#footer{
    height: 220px;
    width: 350px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
h4{
    padding: 6px;
}
p{
    padding: 6px; 
}
button{
     margin: 10px;
    color: white;
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
    height: 45px;
    width: 120px;
}